<div class="row">
    <div class="col-lg-6">
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Add Items</h6>
    </div>
    <div class="card-body">
               
                <form class="form-horizontal">
                  <div class="form-group">
                        <label class="control-label col-sm-2" for="itemname">Itemname:</label>
                        <div class="col-sm-6">
                          <input type="itemname" class="form-control" style="border-radius: 28px;height: 56px;" id="itemname" placeholder="Enter itemname" ng-model="formitemname" value="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="quanty">Quanty:</label>
                        <div class="col-sm-6">          
                          <input type="quanty" class="form-control" style="border-radius: 28px;height: 56px;" id="quanty" placeholder="Enter quanty" ng-model="formquantity"  ng-init="formquantity='1 kg'" disabled required>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2" for="fixprice">FixPrice:</label>
                        <div class="col-sm-6">          
                          <input type="fixprice" class="form-control" style="border-radius: 28px;height: 56px;" id="fixprice" placeholder="Enter fixprice" ng-model="formfixprice" value="">
                        </div>
                      </div>
                  <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-success"  value="Add" ng-click="addItemObject()">ADD Item</button>
                    </div>
                  </div>
                </form>
    </div>
</div>
</div>
<div class="col-lg-6" >
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Items Added</h6>
    </div>
    <div class="card-body" style="height: 405px;overflow-y: scroll;">
       <h2 ng-if="itemList.length==0">No Item Added</h2>
       <div ng-if="itemList.length>0">
        <table class="table" >
            <tr style="border: 1px solid #e3e6f0;">
                
                <th style="border: 1px solid #e3e6f0;">Itemname</th>
                <th style="border: 1px solid #e3e6f0;">Quantity</th>
                <th style="border: 1px solid #e3e6f0;">Fixprice</th>
                <th style="border: 1px solid #e3e6f0;">Action</th>
              </tr>
        <tr ng-repeat="x in itemList" style="border: 1px solid #e3e6f0;">
          
          <td style="border: 1px solid #e3e6f0;" >{{x.itemname}}</td>  
          <td style="border: 1px solid #e3e6f0;" >{{x.quantity}}</td>
          <td style="border: 1px solid #e3e6f0;" >{{x.fixprice}}</td>
          <th style="border: 1px solid #e3e6f0;">
          <a><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="editItem($index)" style="padding: 10px"></i></a>
          <a><i class="fa fa-trash-o" aria-hidden="true" ng-click="deleteItem($index)"></i></a></th>
        </tr>
        </table>
        <button class="btn btn-success" ng-click="save()" value="addAll">Add Items to your Account</button>
      </div>
    </div>
    </div>
    </div>
        
  </div>
