
    <div class="page" ng-controller="registrationController">
      <div class="page-single">
        <div class="container">
          <div class="row">
            <div class="col col-login mx-auto">
              <div class="text-center mb-6">
                <img src="./assets/brand/tabler.svg" class="h-6" alt="">
              </div>
              <form class="card" action="" method="post">
                <div class="card-body p-6">
                  <div class="card-title">Create new account</div>
                  <div class="form-group">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" placeholder="Enter First name" ng-model="fname" required>
                  </div>
                  <div class="form-group">
                      <label class="form-label">Middle Name</label>
                      <input type="text" class="form-control" placeholder="Enter Middle name" ng-model="mname">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="Enter Last name" ng-model="lname" required>
                      </div>
                  <div class="form-group">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" placeholder="Enter email" ng-model="email" required>
                  </div>
                  <div class="form-group">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password" ng-model="password" required>
                  </div>
                  <div class="form-group">
                      <label class="form-label">Contact Number</label>
                      <input type="number" class="form-control" placeholder="Enter Contact Number"  ng-model="phoneNumber" required>
                    </div>
               
                  <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block" ng-click="createAccount()">Create new account</button>
                  </div>
                </div>
              </form>
              <div class="text-center text-muted">
                Already have account? <a href="#!login" >Sign in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 